<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="mat-dialog-title-checkin">{{data.title}}</h1>

<mat-dialog-content>
  <div [formGroup]="form">

    <mat-form-field appearance="fill">
      <mat-label>License Plate Number</mat-label>
      <input matInput placeholder="License Plate Number" formControlName="LicensePlateNumber"
        [(ngModel)]="LicensePlateNumber">
      <mat-error *ngIf="checkInputError('LicensePlateNumber', 'required')">Plate Number is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Remark (250 characters)</mat-label>
      <textarea matInput placeholder="Remark" formControlName="Remark" [(ngModel)]="Remark" cdkTextareaAutosize
        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" rows="4"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vehicle Type</mat-label>
      <mat-select placeholder="Vehicle Type" formControlName="VehicleTypeId" [(ngModel)]="VehicleTypeId">
        <mat-option *ngFor="let type of VehicleTypesList" [value]="type.id">
          {{type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!form.valid" class="btn btn-success" cdkFocusInitial>Save</button>
  <button mat-button (click)="dismiss()" class="btn btn-light">Cancel</button>
</mat-dialog-actions>