li > a.tbl-icon-local {
    color: inherit; cursor: pointer;
}

 /* See: https://stackblitz.com/edit/angular-78ofcc?file=styles.css*/
 ::ng-deep [mat-dialog-title] {
    margin: -24px -24px 0px -24px !important;
    padding: 10px 24px;
    background: #369;
    color: #fff;
    cursor: grab;
}

  ::ng-deep [mat-dialog-title]:active {
    cursor: grabbing;
}