<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="mat-dialog-title-checkin">{{data.title}}
</h1>

<mat-dialog-content>
  <div [formGroup]="form">

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="FirstName" formControlName="FirstName" [(ngModel)]="FirstName">
      <mat-error *ngIf="checkInputError('FirstName', 'required')">First Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="LastName" formControlName="LastName" [(ngModel)]="LastName">
      <mat-error *ngIf="checkInputError('LastName', 'required')">Last Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="Email" [(ngModel)]="Email">
      <mat-error *ngIf="checkInputError('Email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="checkInputError('Email', 'email')">Please use a valid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="Password"
        [(ngModel)]="Password">
      <span class="mat-button-wrapper" matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <i class="material-icons">{{hidePassword ? 'visibility' : 'visibility_off'}}</i>
      </span>
      <mat-error *ngIf="checkInputError('Password', 'required')">Password is required</mat-error>
    </mat-form-field>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!form.valid" class="btn btn-success" cdkFocusInitial>Save</button>
  <button mat-button (click)="dismiss()" class="btn btn-light">Cancel</button>
</mat-dialog-actions>