<div id="tmp" class="d-flex justify-content-center">
    <div class="row mt-3">
        <!-- <div class="col col-md-12">&nbsp;</div> -->
        <img usemap="#image-map" src="assets/img/map_medium_plus.png" class="img-fluid" alt="Responsive image">
        <map name="image-map">
            <area shape="circle" coords="877,736">
        </map>
    </div>

</div>

<div class="fixed-bottom">
    <button mat-raised-button class="btn btn-info" (click)="openDialog()">Check In</button>
</div>
