<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="mat-dialog-title-checkin">{{data.title}}</h1>

<mat-dialog-content>
  <div [formGroup]="form">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="Name" [(ngModel)]="Name">
      <mat-error *ngIf="checkInputError('Name', 'required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="Description" [(ngModel)]="Description">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>IP</mat-label>
      <input matInput placeholder="IP" formControlName="IP" [(ngModel)]="IP">
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>MAC</mat-label>
      <input matInput placeholder="MAC" formControlName="MAC" [(ngModel)]="MAC">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Work Station Type</mat-label>
      <mat-select placeholder="Work Station Type" formControlName="WorkStationTypeId" [(ngModel)]="WorkStationTypeId">
        <mat-option *ngFor="let type of workStationTypesList" [value]="type.id">
          {{type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="d-flex align-items-start">
      <mat-label id="lbl-is-active" class="m-1">Active?</mat-label>
      <mat-radio-group formControlName="IsActive" [(ngModel)]="IsActive" aria-label="lbl-is-active">
        <mat-radio-button [value]=true class="m-1">Yes</mat-radio-button>
        <mat-radio-button [value]=false class="m-1">No</mat-radio-button>
      </mat-radio-group>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!form.valid" class="btn btn-success" cdkFocusInitial>Save</button>
  <button mat-button (click)="dismiss()" class="btn btn-light">Cancel</button>
</mat-dialog-actions>