<div class="container-fluid ">

  <!-- Top spacer -->
  <div class="row d-flex">
    <div class="col-md-12 m-5">&nbsp;</div>
  </div>
  <!-- login-main-welcom-text -->
  <div class="wolcome-large">
    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6 d-flex justify-content-center">
        <span class="h1 center text-secondary">Welcom to <span class="font-italic">Egrofan</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6 d-flex justify-content-center">
        <span class="h3 center text-secondary">Egrofan</span>
      </div>
    </div>

  </div>
  <!-- login-form -->
  <div class="login-large row mt-5">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
      <!-- Form -->
      <div [formGroup]="form">

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="Email" [(ngModel)]="Email">
          <mat-error *ngIf="checkInputError('Email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="checkInputError('Email', 'email')">Please use a valid email</mat-error>
        </mat-form-field>
        

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="Password"
            [(ngModel)]="Password">
          <span class="mat-button-wrapper" matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <i class="material-icons">{{hidePassword ? 'visibility' : 'visibility_off'}}</i>
          </span>
          <mat-error *ngIf="checkInputError('Password', 'required')">Password is required</mat-error>
        </mat-form-field>
        <button (click)="validateUser()" [disabled]="!form.valid" class="btn btn-info btn-block text-uppercase shadow-sm">Log in</button>
      </div>
    </div>
  </div>

</div>

<!-- advaD@test.com 11111 -->
