<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="mat-dialog-title-checkin">
    {{data.title}}
</h1>

<mat-dialog-content>
    <div [formGroup]="form">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <mat-form-field appearance="fill">
                    <mat-label>Notification Type</mat-label>
                    <mat-select placeholder="Notification Type" formControlName="NotificationTypeId"
                        [(ngModel)]="NotificationTypeId">
                        <mat-option *ngFor="let type of notificationTypesList" [value]="type.id">
                            {{type.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="fill">
                    <mat-label>Source User</mat-label>
                    <mat-select placeholder="Source User" formControlName="SourceUserId" [(ngModel)]="SourceUserId">
                        <mat-option *ngFor="let u of usersDisplayList" [value]="u.id">
                            {{u.FullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Target User</mat-label>
                    <mat-select placeholder="Notification Type" formControlName="TargetUserId"
                        [(ngModel)]="TargetUserId">
                        <mat-option *ngFor="let u of usersDisplayList" [value]="u.id">
                            {{u.FullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="fill">
                    <mat-label>Subject (50 characters)</mat-label>
                    <textarea matInput placeholder="Subject" formControlName="Subject" [(ngModel)]="Subject"
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="2" rows="2"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="fill">
                    <mat-label>Message (250 characters)</mat-label>
                    <textarea matInput placeholder="Message" formControlName="Message" [(ngModel)]="Message"
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="3" rows="2"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="fill">
                    <mat-label>Data</mat-label>
                    <textarea matInput placeholder="Json Data" formControlName="JsonData" [(ngModel)]="JsonData"
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" rows="4"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="fill">
                    <mat-label>Reply (250 characters)</mat-label>
                    <textarea matInput placeholder="Reply" formControlName="Reply" [(ngModel)]="Reply"
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="3" rows="2"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="d-flex align-items-start">
                    <mat-label id="lbl-is-active" class="m-1">Handled?</mat-label>
                    <mat-radio-group formControlName="IsHandled" [(ngModel)]="IsHandled" aria-label="lbl-is-active">
                        <mat-radio-button [value]=true class="m-1">Yes</mat-radio-button>
                        <mat-radio-button [value]=false class="m-1">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-start">
                    <mat-label id="lbl-is-active" class="m-1">Replyable?</mat-label>
                    <mat-radio-group formControlName="IsReplyable" [(ngModel)]="IsReplyable" aria-label="lbl-is-active">
                        <mat-radio-button [value]=true class="m-1">Yes</mat-radio-button>
                        <mat-radio-button [value]=false class="m-1">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="save()" [disabled]="!form.valid" class="btn btn-success" cdkFocusInitial>Save</button>
    <button mat-button (click)="dismiss()" class="btn btn-light">Cancel</button>
</mat-dialog-actions>