
<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 100%;">

        <mat-form-field appearance="fill">
            <mat-label>מספר בדיקה</mat-label>
            <input matInput type="text" [(ngModel)]="id" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>מספר רישוי</mat-label>
            <input matInput type="text" [(ngModel)]="licensePlateNumber" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>מספר מכולה</mat-label>
            <input matInput type="text" [(ngModel)]="containerNumber" readonly>
        </mat-form-field>
          
        <mat-form-field appearance="fill">
            <mat-label>יעד</mat-label>
            <input matInput type="text" [(ngModel)]="destiontion" readonly>
        </mat-form-field>
         
        <mat-form-field appearance="fill">
            <mat-label>סוג בדיקה</mat-label>
            <input matInput type="text" [(ngModel)]="inspectionWorkFlow" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>מספר תור</mat-label>
            <input matInput type="text" [(ngModel)]="Queue" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>זמן כניסה</mat-label>
            <input matInput type="text" [(ngModel)]="arrivedSiteDate" readonly>
        </mat-form-field>

    </div>
</div>
