<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="mat-dialog-title-checkin">
    {{data.title}}</h1>

<mat-dialog-content>
    <div [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="Name" [(ngModel)]="Name">
            <mat-error *ngIf="checkInputError('Name', 'required')">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description (250 characters)</mat-label>
            <textarea matInput placeholder="Description" formControlName="Description" [(ngModel)]="Description"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                rows="4" [maxLength]="250"></textarea>
        </mat-form-field>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="save()" [disabled]="!form.valid" class="btn btn-success" cdkFocusInitial>Save</button>
    <button mat-button (click)="dismiss()" class="btn btn-light">Cancel</button>
</mat-dialog-actions>