<div class="main-content main-content-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-mlg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header card-header-custom card-header-info row ">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <h4 class="card-title ">{{page_title}}</h4>
                            <h6 class="card-category"><span class=""><span>Total
                                        Records:&nbsp;</span>{{totalRecord}}</span>
                            </h6>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 d-flex justify-content-end">
                            <table class="w-100">
                                <tr class="">
                                    <td class="w-25">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Filter</mat-label>
                                            <input matInput (keyup)="applyFilter($event)" placeholder="Start typing..."
                                                #input>
                                        </mat-form-field>
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button"
                                            class="mat-focus-indicator mat-tooltip-trigger btn btn-secondary btn-link btn-md btn-just-icon mat-raised-button mat-button-base"
                                            (click)="openAddModal()">
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons">add_alert</i>
                                            </span>
                                            <span class="mat-ripple mat-button-ripple"></span>
                                            <span class="mat-button-focus-overlay"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="card-body">
                        <!-- The table -->
                        <app-custom-table *ngIf="dataSource.data.length > 0" [displayedColumns]="displayedColumns"
                            [dataSource]="dataSource" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                            (openEditModal)="openEditModal($event)" (deleteObject)="deleteObject($event)">
                        </app-custom-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

