<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Base Information</h4>
                        <p class="card-category">Check, Set, Approve</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input name="LicensePlateNumber" [(ngModel)]="LicensePlateNumber" matInput placeholder="License Plate Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input name="containerNumber" [(ngModel)]="containerNumber" matInput placeholder="Container Number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input name="manifestNo" [(ngModel)]="manifestNo" matInput placeholder="Manifest No">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input name="remark" [(ngModel)]="remark" matInput placeholder="Remarks">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Remarks</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea name="remark" [(ngModel)]="remark" matInput placeholder="More info here to write"></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">

                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="setShow()">SUBMIT</button>
                            <button mat-raised-button class="btn btn-info pull-right" (click)="doBypass()">BYPASS</button>
                            <app-print-driver-tag [vecL]="vecL" *ngIf="showPortal">
                            </app-print-driver-tag>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src={{imageSrcLPR}} />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">LPR</h6>
                        <h4 class="card-title">{{LicensePlateNumber}}  {{numPer}}</h4>
                        <p class="card-description">
                            Choose Picture
                        </p>
                        <a *ngFor="let imageButton of imageButtonsLPR; let i = index" class="btn btn-info btn-round" (click)="onClickLPR(imageButton)"> No.{{i+1}} </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src={{imageSrcCCR}} />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CCR</h6>
                        <h4 class="card-title">{{containerNumber}} {{numPer}}</h4>
                        <p class="card-description">
                            Choose Picture
                        </p>
                        <a *ngFor="let imageButton of imageButtonsCCR; let i = index" class="btn btn-info btn-round" (click)="onClickCCR(imageButton)"> No.{{i+1}} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Document</h4>
                        <p class="card-category">PDF with more info.</p>
                    </div>
                    <div class="card-body">
                        <button mat-raised-button class="btn btn-info pull-right" (click)="doScan()">SCAN</button>
                        <div [hidden]="!scanReady" id="outerContainer">
                            <div class="pdf-container">
                                <!-- <pdf-viewer [src]="'{{img.src}}'"
                                            [rotation]="0"
                                            [original-size]="false"
                                            [show-all]="false"
                                            [fit-to-page]="true"
                                            [zoom]="1"
                                            [page]="1"
                                            [zoom-scale]="'page-width'"
                                            [stick-to-page]="false"
                                            [render-text]="true"
                                            [external-link-target]="'blank'"
                                            [autoresize]="true"
                                            [show-borders]="true"></pdf-viewer> -->
                            </div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

