
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Server-Sent Events (SSE) Heartbeat Receiver</title>
</head>
<body>
    <div id="sseOutput"></div>
    <div>
        <p>ssecomponent works!</p>

        <span class="mat-button-wrapper">
            <i class="material-icons">person_add</i>
        </span>


        <button type="button"  (click)="GetExchangeData()"> GetExchangeData2<span class="mat-button-wrapper"></span></button>
        <button type="button"  (click)="stopExchangeUpdates()"> stopExchangeUpdates<span class="mat-button-wrapper"></span></button>

    </div>
</body>

</html>