<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="mat-dialog-title-checkin">{{data.title}} - {{Identifier}}</h1>

<mat-dialog-content>
    <div [formGroup]="form">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="fill">
                    <mat-label>Work Flow Type</mat-label>
                    <mat-select placeholder="Work Flow Type" formControlName="WorkflowTypeId"
                        [(ngModel)]="WorkflowTypeId">
                        <mat-option *ngFor="let type of InspectionTypesList" [value]="type.id">
                            {{type.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <!-- TBD -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="fill">
                    <mat-label>LPR</mat-label>
                    <input matInput placeholder="License Plate Number" formControlName="LPR" [(ngModel)]="LPR">
                    <mat-error *ngIf="checkInputError('LPR', 'required')">LPR is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>CCR</mat-label>
                    <input matInput placeholder="Container Code" formControlName="CCR" [(ngModel)]="CCR">
                    <mat-error *ngIf="checkInputError('CCR', 'required')">CCR is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <mat-form-field appearance="fill">
                    <mat-label>Manifest Code</mat-label>
                    <input matInput placeholder="Manifest Code" formControlName="ManifestCode"
                        [(ngModel)]="ManifestCode">
                    <mat-error *ngIf="checkInputError('ManifestCode', 'required')">Manifest Code is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Conclusion Type</mat-label>
                    <mat-select placeholder="Conclusion Type" formControlName="ConclusionTypeId"
                        [(ngModel)]="ConclusionTypeId">
                        <mat-option *ngFor="let type of ConclusionTypesList" [value]="type.id">
                            {{type.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-form-field appearance="fill">
                    <mat-label>Remark</mat-label>
                    <textarea matInput placeholder="Remark" formControlName="Remark" [(ngModel)]="Remark"
                        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" rows="4"></textarea>
                </mat-form-field>
            </div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="save()" [disabled]="!form.valid" class="btn btn-success" cdkFocusInitial>Save</button>
    <button mat-button (click)="dismiss()" class="btn btn-light">Cancel</button>
</mat-dialog-actions>