<div class="table-responsive">
    <table mat-table matSort (matSortChange)="sortData($event)" class="table table-hover"
        [dataSource]="dataSource" class="w-100">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th class="text-primary" *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th class="text-primary text-right" *matHeaderCellDef>
                Actions
            </th>
            <td *matCellDef="let element" class="td-actions td-actions-local text-right">
                <button type="button"
                    class="btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button mat-button-base"
                    (click)="openEdit(element)">
                    <span class="mat-button-wrapper">
                        <i class="material-icons">edit</i>
                    </span>
                </button>
                <button mat-raised-button="" type="button" mattooltip="Delete"
                    class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button mat-button-base"
                    (click)="deleteElement(element)">
                    <span class="mat-button-wrapper">
                        <i class="material-icons">delete_outline</i>
                    </span>
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #tblPaginator [pageSize]="pageSize" (page)="pageChanged($event)"
        [pageSizeOptions]="pageSizeOptions" aria-label="Select page" showFirstLastButtons>
    </mat-paginator>
</div>


