
body {
  border: 1px solid grey;
  height: 245px;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

img {
  float: right;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  width: 255px;
  margin-right: 104px;
  height: 90px;
}
