<!-- Header -->
<h1 mat-dialog-title class="mat-dialog-title-checkin">Check In
    <span type="button" aria-label="Close" class="close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </span>
</h1>

<!-- Content Tabs -->
<mat-dialog-content class="scrallbarWrapper">
    <mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex=$event">
        <mat-tab label="Inspection Info">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m-1">
                    <div class="card checkin-card">
                        <div class="card-header checkin-card-header card-header-info">
                            <h4 class="card-title">Inspection Information</h4>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div [formGroup]="form">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>License Plate Number -
                                                        {{data.info.LPRQualifier}}%</mat-label>
                                                    <input matInput placeholder="License Plate Number"
                                                        formControlName="LPR" [(ngModel)]="LPR">
                                                    <mat-error *ngIf="checkInputError('LPR', 'required')">LPR is
                                                        required</mat-error>

                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Container Number -
                                                        {{data.info.CCRQualifier}}%</mat-label>
                                                    <input matInput placeholder="Container Number" formControlName="CCR"
                                                        [(ngModel)]="CCR">
                                                    <mat-error *ngIf="checkInputError('CCR', 'required')">CCR is
                                                        required</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Manifest Code</mat-label>
                                                    <input matInput placeholder="Manifest Code"
                                                        formControlName="ManifestCode" [(ngModel)]="ManifestCode">
                                                    <mat-error *ngIf="checkInputError('ManifestCode', 'required')">
                                                        Manifest Code is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Work Flow Type</mat-label>
                                                    <mat-select placeholder="Work Flow Type"
                                                        formControlName="WorkflowTypeId" [(ngModel)]="WorkflowTypeId">
                                                        <mat-option *ngFor="let type of InspectionTypesList"
                                                            [value]="type.id">
                                                            {{type.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Remark</mat-label>
                                                    <textarea matInput placeholder="Remark" formControlName="Remark"
                                                        [(ngModel)]="Remark" cdkTextareaAutosize
                                                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                                        cdkAutosizeMaxRows="5" rows="4"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <!-- Documents visualizer and validator -->
                                                <button (click)="scanDocument()"
                                                    class="btn btn-warning">
                                                    <span *ngIf="data.images.Manifest.length === 0">Scan
                                                        Document</span>
                                                    <span *ngIf="data.images.Manifest.length > 0">Scan Another
                                                        Document</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 m-1">
                    <div class="card checkin-card ">
                        <div class="card-header checkin-card-header card-header-info">
                            <h4 class="card-title">LPR</h4>
                        </div>
                        <div class="card-body">
                            <mat-tab-group>
                                <mat-tab *ngFor="let img of data.images.LPR; let i = index" label="Image {{i+1}}">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title class="text-primary">{{img.value}} | {{img.qualifier}}%
                                            </mat-card-title>
                                            <!-- <mat-card-subtitle>TBD</mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="d-flex justify-content-center ">
                                            <img mat-card-image src="{{img.src}}" alt="{{img.name}}"
                                                class="checkin-img">
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button class="btn btn-sm btn-warning"
                                                (click)="addLPRImage()">Add</button>
                                            <button mat-button class="btn btn-sm btn-danger"
                                                [disabled]="data.images.LPR.length === 1"
                                                (click)="removeLPRImage(i)">Remove</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col m-1">
                    <div class="card checkin-card">
                        <div class="card-header checkin-card-header card-header-info">
                            <h4 class="card-title">CCR</h4>
                        </div>
                        <div class="card-body">
                            <mat-tab-group>
                                <mat-tab *ngFor="let img of data.images.CCR; let i = index" label="Image {{i+1}}">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title class="text-primary">{{img.value}} | {{img.qualifier}}%
                                            </mat-card-title>
                                            <!-- <mat-card-subtitle>TBD</mat-card-subtitle> -->
                                        </mat-card-header>
                                        <mat-card-content class="d-flex justify-content-center">
                                            <img mat-card-image src="{{img.src}}" alt="{{img.name}}"
                                                class="checkin-img">
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button class="btn btn-sm btn-warning"
                                                (click)="addCCRImage()">Add</button>
                                            <button mat-button class="btn btn-sm btn-danger"
                                                [disabled]="data.images.CCR.length === 1"
                                                (click)="removeCCRImage(i)">Remove</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Documents ({{this.data.images.Manifest.length}})">
            <div class="row no-gutters">
                <div class="col">
                    <div class="card checkin-card">
                        <div class="card-header checkin-card-header card-header-info">
                            <h4 class="card-title">Documents</h4>
                        </div>
                        <div class="card-body">
                            <mat-tab-group *ngIf="data.images.Manifest.length > 1">
                                <mat-tab *ngFor="let img of data.images.Manifest; let i = index" label="{{img.name}}">
                                    <mat-card>
                                        <mat-card-content class="d-flex justify-content-center mat-card-content-pdf">
                                            <object data="assets/img/sdms-scan.pdf" type="application/pdf"
                                                width="100%"></object>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button class="btn btn-sm btn-warning"
                                                (click)="scanDocument()">Scan</button>
                                            <button mat-button class="btn btn-sm btn-danger"
                                                [disabled]="data.images.Manifest.length === 1"
                                                (click)="removeDocument(i)">Remove</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-tab>
                            </mat-tab-group>
                            <mat-card *ngIf="data.images.Manifest.length === 1">
                                <mat-card-content class="d-flex justify-content-center mat-card-content-pdf">
                                    <object data="assets/img/sdms-scan.pdf" type="application/pdf"
                                        width="100%"></object>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button class="btn btn-sm btn-warning"
                                        (click)="scanDocument()">Scan</button>
                                    <button mat-button class="btn btn-sm btn-danger"
                                        [disabled]="data.images.Manifest.length === 1"
                                        (click)="removeDocument(i)">Remove</button>
                                </mat-card-actions>
                            </mat-card>

                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<!-- Actions -->
<div mat-dialog-actions class="row no-gutters">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button (click)="startInspection()" [disabled]="!form.valid || this.data.images.Manifest.length === 0"
            class="btn btn-success btn-block">
            Start Inspection
        </button>
    </div>
    <div class="col">
        &nbsp;
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button (click)="bypass()" class="btn btn-danger ml-1 mr-1">Bypess</button>
        <button (click)="dismiss()" class="btn ">Dismiss</button>
    </div>
</div>