// Manipulat top margin
.card.checkin-card{
    margin-top: px;
    margin-bottom: 10px ;
    
}

.mat-dialog-title.mat-dialog-title-checkin{
    margin:0px;
}

.card-body{
    // max-height: 50vh;
    min-height: 67vh;
    padding-top: 4px;
}
// Manipulat top margin
.card.checkin-card.checkin-card-actions{
    padding: 10px;
    margin-bottom: 0px;
}
// Manipulat top margin padding
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -24px;
    padding: 5px;
}

// See: https://stackoverflow.com/questions/60289675/angular-8-max-height-attribute-for-a-material-dialog-is-not-working
// See: https://alligator.io/css/viewport-units/
// Note! 'vh' stands for viewport height. The number specifies percentage.
.mat-dialog-content {
    // max-height: initial;
    max-height: 80vh;
    min-height: 80vh;
}

.mat-card-content {
    // max-height: initial;
    // max-height: 30vh;
    min-height: 30vh;
}

.mat-card-content.mat-card-content-pdf {
    // max-height: initial;
    // max-height: 60vh;
    min-height: 55vh;
}

.checkin-img{
    max-width: 450px;
    max-height: 300px;
}

// .mat-tab-group{
//     height: 80vh;
// }

